@import "var.scss";

html {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.light {
    .aside_left {
        background: $lightbg;
    }

    .aside_right {
        background: $lightbg-gray;

    }

    .my_question {
        background: $lightbg;
    }

    .my_answer {
        background: $lightbg-gray;
    }

    .my_scroll_left::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 4px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 4px;
    }

    .my_scroll_left::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px $lightbg-gray;
        background: $lightbg-gray;
    }

    .my_scroll_left::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px $lightbg;
        border-radius: 0;
        background: $lightbg;
    }

    .my_scroll_right::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 4px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 4px;
    }

    .my_scroll_right::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px $lightbg-gray;
        background: $lightbg-gray;
    }

    .my_scroll_right::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px $lightbg;
        border-radius: 0;
        background: $lightbg;
    }

    .empty_item {
        background: $lightbg-gray;
    }

    .empty_item_line {
        background: $lightbg;
    }
}

.dark {
    .aside_left {
        background: $darkbg-gray;
    }

    .aside_right {
        background: $darkbg;
    }

    .my_question {
        background: $darkbg-gray
    }

    .my_answer {
        background: $darkbg;
    }

    .my_scroll_left::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 4px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 4px;
    }

    .my_scroll_left::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px $darkbg;
        background: $darkbg;
    }

    .my_scroll_left::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px $darkbg;
        border-radius: 0;
        background: $darkbg-gray;
    }

    .my_scroll_right::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 4px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 4px;
    }

    .my_scroll_right::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px $darkbg;
        background: $darkbg;
    }

    .my_scroll_right::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px $darkbg;
        border-radius: 0;
        background: $darkbg-gray;
    }

    .empty_item {
        background: $darkbg;
    }

    .empty_item_line {
        background: $darkbg-gray;
    }
}